---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Modern Web Development",
    description:
      "Creating responsive, fast, and beautiful web applications using the latest technologies and frameworks.",
    icon: "mdi:language-javascript",
  },
  {
    title: "Mobile App Development",
    description:
      "Building native and cross-platform mobile applications that deliver exceptional user experiences.",
    icon: "mdi:cellphone-link",
  },
  {
    title: "Custom Software Solutions",
    description:
      "Developing tailored software solutions that address your unique business challenges and requirements.",
    icon: "mdi:code-braces",
  },
  {
    title: "UI/UX Design",
    description:
      "Crafting intuitive and engaging user interfaces that enhance user experience and drive engagement.",
    icon: "mdi:palette-outline",
  },
  {
    title: "Cloud Solutions",
    description:
      "Implementing scalable cloud infrastructure and services to power your digital transformation.",
    icon: "mdi:cloud-outline",
  },
  {
    title: "Technical Consultation",
    description:
      "Providing expert guidance and strategic planning to help you make informed technology decisions.",
    icon: "mdi:chart-timeline-variant",
  },
];
---

<ContentSection title="Our Services" id="features">
  <Fragment slot="lead">
    We deliver <span class="text-primary">comprehensive solutions</span> that merge
    <span class="text-primary">technical excellence</span> with
    <span class="text-primary">creative design</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="h-full w-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
