---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Building Digital Excellence" id="intro">
  <Icon slot="eyebrow" name="mdi:code-braces" class="h-32 w-32" />
  <Fragment slot="lead">
    We create <span class="text-primary">innovative</span> digital solutions that
    <span class="text-primary">transform</span> businesses and
    <span class="text-primary">empower</span> success.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#contact"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:email" class="h-8 w-8" />
      <span>Get in Touch</span>
    </a>
    <a
      href="#projects"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:briefcase" class="h-8 w-8" />
      <span>View Our Work</span>
    </a>
  </div>
</ContentSection>
